/*Brayden Coombs 8922782*/
body{
    max-width: 900px;
    margin: auto;
    padding: 15px;
    font: 20px arial;

}

.headfoot{
    border: 5px solid #c33764;
    border-radius: 40px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, #c33764, #1d2671);
}

h1,h2{
    font-variant: small-caps;
    color: #1d2671;
}

footer p{
    color: white;
    font-size: small;
}

aside{
    float: right;
    width: 23.33%;
    padding: 10px;
    margin: auto;
}

main{
    float: left;
    width: 56.66%;
    padding: 5px;
    margin: auto;
}

footer{
    clear: both;

}

.mainimg{
    border: 3px solid black;
}

figcaption{
    font-style: bold;
    font-variant: small-caps;
}

q{
    font-family: cursive;
    font-style: italic;
    font-size: large;

}

ul li{
    list-style: none;
    line-height: 150%;
    
}

.parent > a{
    text-decoration: none;
    color: #c33764;
}

aside a:hover{
    color: grey;
}

/* Navigation */
.flexnav{
    background-color: #1d2671;
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 99;

}

.flexnav a{
    color: #c33764;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.flexnav a:hover{
    color: grey;
}

/* Gallery */
.imgcollection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;

}

.image{
margin-top: 40px;
margin-left: 30px;
width: 100%;
height: auto;
clip-path: polygon(0% 0%, 100% 3%, 98% 99%, 3% 93%);

}

/* Contact */
.contact-form {
    border: 1px solid #ccc;
    padding: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.contact-form input[type="submit"] {
    background-color: #1d2671;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #c33764;
}

.mediabody{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;

}